<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
               adaptable="true"
               id="org.eclipse.emf.eef.codegen.ecore.ui.launcher"
               objectClass="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
          <menu
               id="org.eclipse.emf.eef.ui.menu"
               label="EEF"
               path="edit">
             <groupMarker
                   name="model-generation">
             </groupMarker>
             <groupMarker
                   name="edit-generation">
             </groupMarker>
             <groupMarker
                   name="editor-generation">
             </groupMarker>
         </menu>
         <action
               class="org.eclipse.emf.eef.codegen.ecore.ui.launcher.GenerateEMFModelCodeAction"
               enablesFor="*"
               id="org.eclipse.emf.eef.codegen.ecore.ui.generateemfmodeleditcode"
               label="Generate Model Code"
               menubarPath="org.eclipse.emf.eef.ui.menu/model-generation">
         </action>
         <action
               class="org.eclipse.emf.eef.codegen.ecore.ui.launcher.GenerateEMFEditCodeAction"
               enablesFor="*"
               id="org.eclipse.emf.eef.codegen.ecore.ui.generateemfeditcode"
               label="Generate Edit Code"
               menubarPath="org.eclipse.emf.eef.ui.menu/edit-generation">
         </action>
         <action
               class="org.eclipse.emf.eef.codegen.ecore.ui.launcher.GenerateEMFEditorCodeAction"
               enablesFor="*"
               id="org.eclipse.emf.eef.codegen.ecore.ui.generateemfeditorcode"
               label="Generate Editor Code"
               menubarPath="org.eclipse.emf.eef.ui.menu/editor-generation">
         </action>
      </objectContribution>
   </extension>

</plugin>
