<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
            id="org.eclipse.emf.eef.codegen.ecore.ui.launcher"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.eef.codegen.ecore.ui.launcher.GenerateEMFCodeAction"
               enablesFor="*"
               id="org.eclipse.emf.eef.codegen.ecore.ui.generateemfcode"
               label="Generate EMF Edit and Editor projects"
               menubarPath="org.eclipse.emf.eef.ui.menu/generation">
         </action>
      </objectContribution>
   </extension>

</plugin>
