<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/06/18 12:14:37 glefur Exp $
-->

<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="WorldCupForecastEditorAdvisorApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisor$Application">
         </run>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisor$Perspective"
            id="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_WorldcupforecastEditorAdvisor_ActionSet_label"
            visible="true"
            id="WorldcupforecastEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenURICommand"
               class="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenCommand"
               class="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorAdvisorOpenAction"/>
         
      </actionSet>
      <actionSet
            id="org.eclipse.worldcupforecast.editor.sendforecast"
            label="World Cup Forecasts"
            visible="true">
         <menu
               id="sendforecast"
               label="World Cup Forecasts">
            <separator
                  name="sendforecastgroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.worldcupforecast.actions.OpenModelAction"
               id="org.eclipse.worldcupforecast.presentation.OpenModelAction"
               label="World Cup Results and Rating"
               menubarPath="sendforecast/sendforecastgroup"
               style="push">
         </action>
         <action
               class="org.eclipse.worldcupforecast.actions.SendForecastAction"
               id="org.eclipse.worldcupforecast.editor.actions.SampleAction"
               label="&amp;Commit"
               menubarPath="sendforecast/sendforecastgroup">
         </action>
          <action
               class="org.eclipse.worldcupforecast.actions.NewPlayerAction"
               id="org.eclipse.worldcupforecast.presentation.WorldcupforecastActionBarContributorNewPlayerAction"
               label="New Player"
               menubarPath="sendforecast/sendforecastgroup">
         </action>
        <!-- <action
                class="org.eclipse.worldcupforecast.actions.ImportPlayerAction"
                id="org.eclipse.worldcupforecast.presentation.WorldcupforecastActionBarContributorImportPlayerAction"
                label="Import player"
                menubarPath="sendforecast/sendforecastgroup">
          </action>-->
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditorID"
            name="%_UI_WorldcupforecastEditor_label"
            icon="icons/full/obj16/WorldcupforecastModelFile.gif"
            extensions="worldcupforecast"
            class="org.eclipse.worldcupforecast.presentation.WorldcupforecastEditor"
            contributorClass="org.eclipse.worldcupforecast.presentation.WorldcupforecastActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.worldcupforecast.GameDayContributor"
            objectClass="org.eclipse.worldcupforecast.MatchDay">
         <menu
               id="org.eclipse.worldcupforecast.editor.gameDayMenu"
               label="World Cup Forecast"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.worldcupforecast.actions.ValidateForecasts"
               enablesFor="1"
               helpContextId="Import and validate forecasts in specified folder"
               id="org.eclipse.worldcupforecast.editor.action1"
               label="Validate Forecasts"
               menubarPath="org.eclipse.worldcupforecast.editor.gameDayMenu/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.worldcupforecast.PlayerContributor"
            objectClass="org.eclipse.worldcupforecast.Player">
         <menu
               id="org.eclipse.worldcupforecast.editor.playerMenu"
               label="World Cup Forecast"
               path="additions">
            <groupMarker
                  name="org.eclipse.worldcupforecast.editor.groupMarker1">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.worldcupforecast.actions.GenerateForecasts"
               enablesFor="1"
               helpContextId="Export forecasts for this game day to all players in specified folder"
               id="org.eclipse.worldcupforecast.editor.newAction"
               label="Generate Forecasts for All"
               menubarPath="org.eclipse.worldcupforecast.editor.playerMenu/org.eclipse.worldcupforecast.editor.groupMarker1">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="product"
         name="World Cup Forecast Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.worldcupforecast.editor.WorldCupForecastEditorAdvisorApplication"
            name="%productName">
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="windowImages"
               value="icon.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.eclipse.worldcupforecast.editor.splashHandlers.ExtensibleSplashHandler"
            id="org.eclipse.worldcupforecast.editor.splashHandlers.extensible">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.worldcupforecast.editor.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>

</plugin>
