<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Eclipse Neon" sequenceNumber="1452761984">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.antlr.runtime" version="4.3.0.v201502022030"/>
      <repository id="Acceleo-3.6" location="http://download.eclipse.org/acceleo/updates/releases/3.6/R201510121214/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.editor" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Neon" location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.incubation.interpreter.feature.group" version="0.0.0"/>
      <repository id="Sirius-Incubation" location="http://download.eclipse.org/sirius/updates/nightly/latest/neon/incubation"/>
    </location>
  </locations>
</target>
