<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Eclipse Neon" sequenceNumber="1445593356">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.editor" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/neon"/>
    </location>
  </locations>
</target>
