<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.eef.ide.interpreterProvider">
      <descriptor
            class="org.eclipse.eef.interpreter.aql.internal.AQLInterpreterProvider"
            description="The Acceleo Query Language interpreter"
            id="org.eclipse.eef.interpreter.aql"
            label="AQL Interpreter">
      </descriptor>
   </extension>

</plugin>
