<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011/04/06 13:07:28 nlepine Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/eef/mbot/1.0.0"
            class="org.eclipse.emf.eef.modelingBot.ModelingBotPackage"
            genModel="model/mbot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/eef/test/EEFActions/1.0.0"
            class="org.eclipse.emf.eef.modelingBot.EEFActions.EEFActionsPackage"
            genModel="model/mbot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/eef/test/EclipseActions/1.0.0"
            class="org.eclipse.emf.eef.modelingBot.EclipseActions.EclipseActionsPackage"
            genModel="model/mbot.genmodel"/>
   </extension>

</plugin>
