<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2008-2009 Obeo.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Obeo - initial API and implementation
 

 $Id: plugin.xml,v 1.5 2009/12/11 10:35:04 sbouchet Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.eef.ui.category"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.components.presentation.ComponentsModelWizardID"
            name="%_UI_ComponentsModelWizard_label"
            class="org.eclipse.emf.eef.components.presentation.ComponentsModelWizard"
            category="org.eclipse.emf.eef.ui.category"
            icon="icons/full/obj16/ComponentsModelFile.gif">
         <description>%_UI_ComponentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.components.presentation.ComponentsEditorID"
            name="%_UI_ComponentsEditor_label"
            icon="icons/full/obj16/ComponentsModelFile.gif"
            extensions="components"
            class="org.eclipse.emf.eef.components.presentation.ComponentsEditor"
            contributorClass="org.eclipse.emf.eef.components.presentation.ComponentsActionBarContributor">
      </editor>
   </extension>

</plugin>
