<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2008 Obeo.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Obeo - initial API and implementation
 

 $Id: plugin.xml,v 1.2 2009/04/30 17:49:18 nlepine Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.eef.ui.category"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.components.presentation.ComponentsModelWizardID"
            name="%_UI_ComponentsModelWizard_label"
            class="org.eclipse.emf.eef.components.presentation.ComponentsModelWizard"
            category="org.eclipse.emf.eef.ui.category"
            icon="icons/full/obj16/ComponentsModelFile.gif">
         <description>%_UI_ComponentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.components.presentation.ComponentsEditorID"
            name="%_UI_ComponentsEditor_label"
            icon="icons/full/obj16/ComponentsModelFile.gif"
            extensions="components"
            class="org.eclipse.emf.eef.components.presentation.ComponentsEditor"
            contributorClass="org.eclipse.emf.eef.components.presentation.ComponentsActionBarContributor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>         	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionContext">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionContext">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionContext">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionContext">
          	   </input>
         </propertySection>
          <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionComponent">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionComponent">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionComponent">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionComponent">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionElement">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionElement">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionElement">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionElement">
          	   </input>
         </propertySection>
          <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesMultiEditionElement">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesMultiEditionElement">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesMultiEditionElement">
          	   <input
                    type="org.eclipse.emf.eef.components.PropertiesMultiEditionElement">
          	   </input>
         </propertySection>
      </propertySections>
   </extension>

	 <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>         	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation">
         </propertyTab>	
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.Databinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.Databinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFElementBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.EMFElementBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFElementBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.EMFElementBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFPropertyBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.EMFPropertyBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFPropertyBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.EMFPropertyBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardElementBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.StandardElementBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardElementBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.StandardElementBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardPropertyBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.StandardPropertyBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardPropertyBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.StandardPropertyBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.Category">
          	   <input
                    type="org.eclipse.emf.eef.mapping.Category">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.Category">
          	   <input
                    type="org.eclipse.emf.eef.mapping.Category">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.ElementBindingReference">
          	   <input
                    type="org.eclipse.emf.eef.mapping.ElementBindingReference">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.ElementBindingReference">
          	   <input
                    type="org.eclipse.emf.eef.mapping.ElementBindingReference">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFMultiPropertiesBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.EMFMultiPropertiesBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFMultiPropertiesBinding">
          	   <input
                    type="org.eclipse.emf.eef.mapping.EMFMultiPropertiesBinding">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.navigation.section.ModelNavigation">
          	   <input
                    type="org.eclipse.emf.eef.mapping.navigation.ModelNavigation">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.navigation.section.SimpleModelNavigation">
          	   <input
                    type="org.eclipse.emf.eef.mapping.navigation.SimpleModelNavigation">
          	   </input>
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>         	
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.DocumentedElement">
          	   <input
                    type="org.eclipse.emf.eef.views.DocumentedElement">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewsRepository">
          	   <input
                    type="org.eclipse.emf.eef.views.ViewsRepository">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewsRepository">
          	   <input
                    type="org.eclipse.emf.eef.views.ViewsRepository">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.View">
          	   <input
                    type="org.eclipse.emf.eef.views.View">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.View">
          	   <input
                    type="org.eclipse.emf.eef.views.View">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ElementEditor">
          	   <input
                    type="org.eclipse.emf.eef.views.ElementEditor">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ElementEditor">
          	   <input
                    type="org.eclipse.emf.eef.views.ElementEditor">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Category">
          	   <input
                    type="org.eclipse.emf.eef.views.Category">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Category">
          	   <input
                    type="org.eclipse.emf.eef.views.Category">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Container">
          	   <input
                    type="org.eclipse.emf.eef.views.Container">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Container">
          	   <input
                    type="org.eclipse.emf.eef.views.Container">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.SpecificElementEditor">
          	   <input
                    type="org.eclipse.emf.eef.views.SpecificElementEditor">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.SpecificElementEditor">
          	   <input
                    type="org.eclipse.emf.eef.views.SpecificElementEditor">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.CustomView">
          	   <input
                    type="org.eclipse.emf.eef.views.CustomView">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.CustomView">
          	   <input
                    type="org.eclipse.emf.eef.views.CustomView">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewReference">
          	   <input
                    type="org.eclipse.emf.eef.views.ViewReference">
          	   </input>
         </propertySection>
         <propertySection
               tab="Documentation"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewReference">
          	   <input
                    type="org.eclipse.emf.eef.views.ViewReference">
          	   </input>
         </propertySection>
        <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.toolkits.section.Toolkit">
          	   <input
                    type="org.eclipse.emf.eef.toolkits.Toolkit">
          	   </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.toolkits.section.Widget">
          	   <input
                    type="org.eclipse.emf.eef.toolkits.Widget">
          	   </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
