<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.7 2011/05/10 21:16:39 glefur Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.eefnr.presentation.EefnrModelWizardID"
            name="%_UI_EefnrModelWizard_label"
            class="org.eclipse.emf.eef.eefnr.presentation.EefnrModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EefnrModelFile.gif">
         <description>%_UI_EefnrModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.eefnr.presentation.EefnrEditorID"
            name="%_UI_EefnrEditor_label"
            icon="icons/full/obj16/EefnrModelFile.gif"
            extensions="eefnr"
            class="org.eclipse.emf.eef.eefnr.presentation.EefnrEditor"
            contributorClass="org.eclipse.emf.eef.eefnr.presentation.EefnrActionBarContributor">
      </editor>
   </extension>
   
      <!-- Tabbed properties views extension -->
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="TextSampleFirstTab"
               category="extended"
               id="TextSampleFirstTab"
               afterTab="TextSampleFirstTab">
         </propertyTab>
         <propertyTab
               label="TextSampleSecondTab"
               category="extended"
               id="TextSampleSecondTab"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="AbstractSample"
               category="extended"
               id="AbstractSample"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="CheckBoxExtendedEditorSample"
               category="extended"
               id="CheckBoxExtendedEditorSample"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="AbstractEnabledSample"
               category="extended"
               id="AbstractEnabledSample"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="AbstractSample"
               category="extended"
               id="AbstractSample"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="SecondFlatReferenceExtendedEditorSample"
               category="extended"
               id="SecondFlatReferenceExtendedEditorSample"
               afterTab="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.Root"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.Root">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.TotalSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.TotalSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.TextSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.TextSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.CheckboxSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.CheckboxSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.TextareaSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.TextareaSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.RadioSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.RadioSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.EObjectFlatComboViewerSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.EObjectFlatComboViewerSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.ReferencesTableSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.ReferencesTableSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.EMFComboViewerSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.EMFComboViewerSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.MultiValuedEditorSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.MultiValuedEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.TableCompositionEditorSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.TableCompositionEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.AdvancedReferencesTableSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.AdvancedReferencesTableSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.AdvancedEObjectFlatComboViewerSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.AdvancedEObjectFlatComboViewerSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.AdvancedTableCompositionEditorSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.AdvancedTableCompositionEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.FlatReferencesTableSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.FlatReferencesTableSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.Sample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.Sample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.TextSampleWithTwoTabs"
               tab="TextSampleFirstTab">
             <input
                    type="org.eclipse.emf.eef.eefnr.TextSampleWithTwoTabs">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.TextSampleWithTwoTabs"
               tab="TextSampleSecondTab">
             <input
                    type="org.eclipse.emf.eef.eefnr.TextSampleWithTwoTabs">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.TableCompositionExtensionEditorSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.TableCompositionExtensionEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnrext.section.TableCompositionTargetExtensionEditorSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnrext.TableCompositionTargetExtensionEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnrext.section.CheckBoxExtendedEditorSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnrext.CheckBoxExtendedEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnrext.section.FlatReferenceExtendedEditorSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnrext.FlatReferenceExtendedEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.references.section.ReferenceEnabledSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.references.ReferenceEnabledSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.eefnr.section.AbstractSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.AbstractSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.references.section.AbstractEnabledSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.references.AbstractEnabledSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnrext.section.FlatReferenceExtendedEditorSample"
               tab="SecondFlatReferenceExtendedEditorSample">
             <input
                    type="org.eclipse.emf.eef.eefnrext.FlatReferenceExtendedEditorSample">
             </input>
         </propertySection>
      </propertySections>
   </extension>
   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="AbstractSample"
               category="extended"
               id="AbstractSample"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="AbstractSample"
               category="extended"
               id="AbstractSample"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="DeferedFlatReferencesTableSample"
               category="extended"
               id="DeferedFlatReferencesTableSample"
               afterTab="DeferedFlatReferencesTableSample">
         </propertyTab>
         <propertyTab
               label="DeferedReferencesTableSample"
               category="extended"
               id="DeferedReferencesTableSample"
               afterTab="DeferedReferencesTableSample">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.references.section.ReferenceEnabledSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.references.ReferenceEnabledSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.references.section.ReferenceEnabledSample"
               tab="AbstractSample">
             <input
                    type="org.eclipse.emf.eef.eefnr.references.ReferenceEnabledSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.eefnr.section.AbstractSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.AbstractSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.references.section.AbstractEnabledSample"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.eefnr.references.AbstractEnabledSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.references.section.AbstractEnabledSample"
               tab="AbstractSample">
             <input
                    type="org.eclipse.emf.eef.eefnr.references.AbstractEnabledSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.navigation.section.DeferedFlatReferenceTableEditorSample"
               tab="DeferedFlatReferencesTableSample">
             <input
                    type="org.eclipse.emf.eef.eefnr.navigation.DeferedFlatReferenceTableEditorSample">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.navigation.section.DeferedReferenceTableEditorSample"
               tab="DeferedReferencesTableSample">
             <input
                    type="org.eclipse.emf.eef.eefnr.navigation.DeferedReferenceTableEditorSample">
             </input>
         </propertySection>
      </propertySections>
   </extension>
 </plugin>

