<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/06/18 12:10:33 glefur Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://wwww.obeo.fr/dsl/worldcupforecast/1.0.0"
            class="org.eclipse.worldcupforecast.WorldcupforecastPackage"
            genModel="model/worldcupforecast.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="worldcupforecast"
         class="org.eclipse.worldcupforecast.utils.XMIResourceFactoryImplCustom">
      </parser>
   </extension>

</plugin>
