<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2009/05/05 10:36:15 sbouchet Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.middle.middlenonreg.presentation.MiddlenonregModelWizardID"
            name="%_UI_MiddlenonregModelWizard_label"
            class="org.eclipse.emf.eef.middle.middlenonreg.presentation.MiddlenonregModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MiddlenonregModelFile.gif">
         <description>%_UI_MiddlenonregModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.middle.middlenonreg.presentation.MiddlenonregEditorID"
            name="%_UI_MiddlenonregEditor_label"
            icon="icons/full/obj16/MiddlenonregModelFile.gif"
            extensions="middlenonreg"
            class="org.eclipse.emf.eef.middle.middlenonreg.presentation.MiddlenonregEditor"
            contributorClass="org.eclipse.emf.eef.middle.middlenonreg.presentation.MiddlenonregActionBarContributor">
      </editor>
   </extension>

</plugin>
