<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011/04/06 13:09:23 nlepine Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.modelingBot.presentation.ModelingBotModelWizardID"
            name="%_UI_ModelingBotModelWizard_label"
            class="org.eclipse.emf.eef.modelingBot.presentation.ModelingBotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelingBotModelFile.gif">
         <description>%_UI_ModelingBotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.modelingBot.presentation.ModelingBotEditorID"
            name="%_UI_ModelingBotEditor_label"
            icon="icons/full/obj16/ModelingBotModelFile.gif"
            extensions="modelingbot"
            class="org.eclipse.emf.eef.modelingBot.presentation.ModelingBotEditor"
            contributorClass="org.eclipse.emf.eef.modelingBot.presentation.ModelingBotActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.modelingBot.EEFActions.presentation.EEFActionsModelWizardID"
            name="%_UI_EEFActionsModelWizard_label"
            class="org.eclipse.emf.eef.modelingBot.EEFActions.presentation.EEFActionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EEFActionsModelFile.gif">
         <description>%_UI_EEFActionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.modelingBot.EEFActions.presentation.EEFActionsEditorID"
            name="%_UI_EEFActionsEditor_label"
            icon="icons/full/obj16/EEFActionsModelFile.gif"
            extensions="eefactions"
            class="org.eclipse.emf.eef.modelingBot.EEFActions.presentation.EEFActionsEditor"
            contributorClass="org.eclipse.emf.eef.modelingBot.EEFActions.presentation.EEFActionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.modelingBot.EclipseActions.presentation.EclipseActionsModelWizardID"
            name="%_UI_EclipseActionsModelWizard_label"
            class="org.eclipse.emf.eef.modelingBot.EclipseActions.presentation.EclipseActionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EclipseActionsModelFile.gif">
         <description>%_UI_EclipseActionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.modelingBot.EclipseActions.presentation.EclipseActionsEditorID"
            name="%_UI_EclipseActionsEditor_label"
            icon="icons/full/obj16/EclipseActionsModelFile.gif"
            extensions="eclipseactions"
            class="org.eclipse.emf.eef.modelingBot.EclipseActions.presentation.EclipseActionsEditor"
            contributorClass="org.eclipse.emf.eef.modelingBot.EclipseActions.presentation.EclipseActionsActionBarContributor">
      </editor>
   </extension>

</plugin>
