<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2009 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
 

 $Id: plugin.xml,v 1.1 2010/02/15 14:02:21 glefur Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/samples/tarot/1.0.0"
            class="org.eclipse.emf.samples.eef.tarot.provider.TarotItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
     <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionProvider">
      <PropertiesEditionComponentProvider
            providerClass="org.eclipse.emf.samples.eef.tarot.providers.TarotPackageCustomPropertiesEditionProvider">
      </PropertiesEditionComponentProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPolicyProvider">
      <PropertiesEditionPolicyProvider
            providerClass="org.eclipse.emf.samples.eef.tarot.providers.TarotPackagePropertiesEditionPolicyProvider">
      </PropertiesEditionPolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.samples.eef.tarot.providers.TarotSpecificPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
  
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.samples.eef.tarot.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   
   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.samples.eef.tarot.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.samples.eef.tarot.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="GamePlayers"
               category="extended"
               id="GamePlayers">
         </propertyTab>
         <propertyTab
               label="GameScore"
               category="extended"
               id="GameScore">
         </propertyTab>
         <propertyTab
               label="Round Score"
               category="extended"
               id="Round Score">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.samples.eef.tarot.properties">
         <propertySection
               tab="GamePlayers"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Game">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Game">
             </input>
         </propertySection>
         <propertySection
               tab="GameScore"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Game">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Game">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Player">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Player">
             </input>
         </propertySection>
         <propertySection
               tab="Round Score"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Round">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Round">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Round">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Round">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Misere">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Misere">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Handful">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Handful">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.LeastAtLast">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.LeastAtLast">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.samples.eef.tarot.section.Slam">
             <input
                    type="org.eclipse.emf.samples.eef.tarot.Slam">
             </input>
         </propertySection>
      </propertySections>
   </extension>
   

</plugin>
