<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2008 Obeo.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Obeo - initial API and implementation
 

 $Id: plugin.xml,v 1.3 2009/12/10 16:54:53 sbouchet Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/components/1.0.0"
            class="org.eclipse.emf.eef.components.provider.ComponentsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://www.eclipse.org/emf/eef/mapping/1.0.0"
            class="org.eclipse.emf.eef.components.provider.ComponentsItemProviderAdapterFactory$MappingChildCreationExtender"/>
   </extension>
    <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.emf.eef.components.resources.ComponentsResourceFactory"
            type="components"/>
    </extension>

   <!-- Added contraints on components -->
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="EEF Constraints"
            id="org.eclipse.emf.eef.validation"/>
      <constraintProvider cache="true">
         <package namespaceUri="http://www.eclipse.org/emf/eef/components/1.0.0"/>
         <constraints categories="org.eclipse.emf.eef.validation">
            <constraint
                  lang="Java"
                  class="org.eclipse.emf.eef.components.validation.BadReferencedEditorConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="Bad Referenced Element Editor"
                  id="org.eclipse.emf.eef.views.validation.badrefeditorviews"
                  statusCode="1">
               <description>
                  All element editor referenced in a properties edition element must be child of views mapped by the properties edition component ...
               </description>
               <message>
                  The element editor {0} is not a child of the views mapped by the properties edition element {1}.
               </message>
               <target class="PropertiesEditionElement"/>
            </constraint>
         </constraints>
      </constraintProvider>
      </extension>
      
      <!-- EEF EXTENSIONS -->
  <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionProvider">
      <PropertiesEditionComponentProvider
            providerClass="org.eclipse.emf.eef.components.providers.ComponentsPackagePropertiesEditionProvider">
      </PropertiesEditionComponentProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPolicyProvider">
      <PropertiesEditionPolicyProvider
            providerClass="org.eclipse.emf.eef.components.providers.ComponentsPackagePropertiesEditionPolicyProvider">
      </PropertiesEditionPolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.components.providers.ComponentsCustomPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
     <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionProvider">
      <PropertiesEditionComponentProvider
            providerClass="org.eclipse.emf.eef.views.providers.ViewsPackagePropertiesEditionProvider">
      </PropertiesEditionComponentProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPolicyProvider">
      <PropertiesEditionPolicyProvider
            providerClass="org.eclipse.emf.eef.views.providers.ViewsPackagePropertiesEditionPolicyProvider">
      </PropertiesEditionPolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.views.providers.ViewsPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionProvider">
      <PropertiesEditionComponentProvider
            providerClass="org.eclipse.emf.eef.mapping.providers.MappingPackagePropertiesEditionProvider">
      </PropertiesEditionComponentProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPolicyProvider">
      <PropertiesEditionPolicyProvider
            providerClass="org.eclipse.emf.eef.navigation.providers.MappingPackageCustomPropertiesEditionPolicyProvider">
      </PropertiesEditionPolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.navigation.providers.MappingCustomPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   
   <!-- EEF PROPERTIES VIEWS EXTENSIONS -->
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="org.eclipse.emf.eef.mapping.DocumentedElement.Documentation"
               afterTab="Documentation">
         </propertyTab>
      </propertyTabs>
   </extension>

   <!-- Tabbed properties views extension for Components -->

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionContext"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionContext">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionContext"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionContext">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionComponent"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionComponent"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionElement"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesEditionElement"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesEditionElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesMultiEditionElement"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesMultiEditionElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.components.section.PropertiesMultiEditionElement"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.components.PropertiesMultiEditionElement">
             </input>
         </propertySection>
      </propertySections>
   </extension>

   <!-- Tabbed properties views extension for Views -->

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.DocumentedElement"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.DocumentedElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewsRepository"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.ViewsRepository">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewsRepository"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.ViewsRepository">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.View"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.View">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.View"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.View">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ElementEditor"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.ElementEditor">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ElementEditor"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.ElementEditor">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Category"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.Category">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Category"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.Category">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Container"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.Container">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.Container"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.Container">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.CustomElementEditor"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.CustomElementEditor">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.CustomElementEditor"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.CustomElementEditor">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.CustomView"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.CustomView">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.CustomView"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.CustomView">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewReference"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.views.ViewReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.views.section.ViewReference"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.views.ViewReference">
             </input>
         </propertySection>
      </propertySections>
   </extension>

   <!-- Tabbed properties views extension for Mapping -->

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.components.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.BindingFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.BindingFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.Databinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.Databinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFElementBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFElementBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFPropertyBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFPropertyBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardElementBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardElementBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardPropertyBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.StandardPropertyBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.Category"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.Category">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.Category"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.Category">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.ElementBindingReference"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.ElementBindingReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.ElementBindingReference"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.ElementBindingReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFMultiPropertiesBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFMultiPropertiesBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.mapping.section.EMFMultiPropertiesBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFMultiPropertiesBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.navigation.section.ModelNavigation"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.navigation.ModelNavigation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.navigation.section.SimpleModelNavigation"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.navigation.SimpleModelNavigation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.OnlyReferenceTypeFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OnlyReferenceTypeFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.OnlyReferenceTypeFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OnlyReferenceTypeFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.OnlyReferenceTypeFilter"
               tab="Filter_properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OnlyReferenceTypeFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.OCLFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OCLFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.OCLFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OCLFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.OCLFilter"
               tab="Filter_properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OCLFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.JavaExpressionFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaExpressionFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.JavaExpressionFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaExpressionFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.JavaExpressionFilter"
               tab="Filter_properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaExpressionFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.JavaDeclarationFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaDeclarationFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.JavaDeclarationFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaDeclarationFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.filters.section.JavaDeclarationFilter"
               tab="Filter_properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaDeclarationFilter">
             </input>
         </propertySection>
      </propertySections>
   </extension>

   
</plugin>
