<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.eef.codegen.PropertiesGeneratorLauncher">
      <PropertiesGeneratorLauncher
            generatorLauncher="org.eclipse.emf.eef.tests.codegen.core.launcher.ComponentTestsGeneratorLauncher"
            name="EEF SWTBot test cases">
      </PropertiesGeneratorLauncher>
   </extension>
   <extension
         point="org.eclipse.emf.eef.codegen.PropertiesGeneratorLauncher">
      <PropertiesGeneratorLauncher
            generatorLauncher="org.eclipse.emf.eef.tests.codegen.core.launcher.ComponentPropertiesTestsGeneratorLauncher"
            name="EEF SWTBot properties test cases">
      </PropertiesGeneratorLauncher>
   </extension>
   <extension
         point="org.eclipse.acceleo.engine.dynamic.templates">
      <templates
            path="src/">
      </templates>
   </extension>

</plugin>
