<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2008, 2009 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/mapping/1.0.0"
            class="org.eclipse.emf.eef.mapping.provider.MappingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/mapping/navigation/1.0.0"
            class="org.eclipse.emf.eef.mapping.navigation.provider.NavigationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/mapping/filters/1.0.0"
            class="org.eclipse.emf.eef.mapping.filters.provider.FiltersItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/mapping/navigation/1.0.0"
            class="org.eclipse.emf.eef.mapping.providers.NavigationEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/mapping/filters/1.0.0"
            class="org.eclipse.emf.eef.mapping.providers.FiltersEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/mapping/1.0.0"
            class="org.eclipse.emf.eef.mapping.providers.MappingEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.navigation.providers.MappingCustomPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extended"
               id="Documentation"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Filter properties"
               category="extended"
               id="Filter properties"
               afterTab="Filter properties">
         </propertyTab>
         <propertyTab
               label="StrictTypingFilter"
               category="extended"
               id="StrictTypingFilter"
               afterTab="StrictTypingFilter">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.properties">
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.FilterPropertiesPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.BindingFilter"
               tab="Filter properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.BindingFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.EMFElementBindingPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.EMFElementBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.EMFElementBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.EMFPropertyBindingPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.EMFPropertyBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.EMFPropertyBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.StandardElementBindingPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.StandardElementBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.StandardElementBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardElementBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.StandardPropertyBindingPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.StandardPropertyBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.StandardPropertyBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.StandardPropertyBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.CategoryPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.Category"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.Category">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.Category"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.Category">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.ElementBindingReferencePropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.ElementBindingReference"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.ElementBindingReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.ElementBindingReference"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.ElementBindingReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.EMFMultiPropertiesBindingPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.EMFMultiPropertiesBinding"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFMultiPropertiesBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.mapping.section.EMFMultiPropertiesBinding"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.EMFMultiPropertiesBinding">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.ModelNavigationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.navigation.section.ModelNavigation"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.navigation.ModelNavigation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.SimpleModelNavigationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.navigation.section.SimpleModelNavigation"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.navigation.SimpleModelNavigation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.OnlyReferenceTypeFilterPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.OnlyReferenceTypeFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OnlyReferenceTypeFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.OnlyReferenceTypeFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OnlyReferenceTypeFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.FilterPropertiesPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.OnlyReferenceTypeFilter"
               tab="Filter properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OnlyReferenceTypeFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.OCLFilterPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.OCLFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OCLFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.OCLFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OCLFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.FilterPropertiesPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.OCLFilter"
               tab="Filter properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.OCLFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.JavaExpressionFilterPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.JavaExpressionFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaExpressionFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.JavaExpressionFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaExpressionFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.FilterPropertiesPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.JavaExpressionFilter"
               tab="Filter properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaExpressionFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.JavaDeclarationFilterPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.JavaDeclarationFilter"
               tab="Base">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaDeclarationFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.JavaDeclarationFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaDeclarationFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.FilterPropertiesPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.JavaDeclarationFilter"
               tab="Filter properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.JavaDeclarationFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.StrictTypingFilterPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.StrictTypingFilter"
               tab="StrictTypingFilter">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.StrictTypingFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.DocumentationPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.StrictTypingFilter"
               tab="Documentation">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.StrictTypingFilter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.mapping.parts.forms.FilterPropertiesPropertiesEditionPartForm"
               id="org.eclipse.emf.eef.filters.section.StrictTypingFilter"
               tab="Filter properties">
             <input
                    type="org.eclipse.emf.eef.mapping.filters.StrictTypingFilter">
             </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
