<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.15 2012/03/28 09:44:32 sbouchet Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/1.0.0"
            class="org.eclipse.emf.eef.eefnr.provider.EefnrItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/references/1.0.0"
            class="org.eclipse.emf.eef.eefnr.references.provider.ReferencesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/navigation/1.0.0"
            class="org.eclipse.emf.eef.eefnr.navigation.provider.NavigationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/filters/1.0.0"
            class="org.eclipse.emf.eef.eefnr.filters.provider.FiltersItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/naming/1.0.0"
            class="org.eclipse.emf.eef.eefnr.naming.provider.CustomNamingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/interface/1.0.0"
            class="org.eclipse.emf.eef.eefnr.interface_.provider.InterfaceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/extension/1.0.0"
            class="org.eclipse.emf.eef.eefnrext.provider.EefnrextItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/1.0.0"
            class="org.eclipse.emf.eef.eefnr.providers.EefnrEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/extension/1.0.0"
            class="org.eclipse.emf.eef.eefnrext.providers.EefnrextEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/filters/1.0.0"
            class="org.eclipse.emf.eef.filters.providers.FiltersEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/interface/1.0.0"
            class="org.eclipse.emf.eef.interface_.providers.Interface_EEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/naming/1.0.0"
            class="org.eclipse.emf.eef.naming.providers.NamingEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/navigation/1.0.0"
            class="org.eclipse.emf.eef.navigation.providers.NavigationEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/nonreg/references/1.0.0"
            class="org.eclipse.emf.eef.references.providers.ReferencesEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.eefnr.providers.EefnrPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.eefnrext.providers.EefnrextPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.eefnr.navigation.providers.NavigationPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.eefnr.references.providers.ReferencesPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.eefnr.filters.providers.FiltersPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.eefnr.navigation.providers.NamingPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.eef.eefnr.interface_.providers.Interface_PropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               id="TextSampleFirstTab"
               label="TextSampleFirstTab"
               category="default">
         </propertyTab>
         <propertyTab
               id="TextSampleSecondTab"
               label="TextSampleSecondTab"
               category="extended"
               afterTab="TextSampleFirstTab">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.RootPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.RootPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.Root"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.TotalSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.TotalSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.TotalSample"
               tab="Base">
                      </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.TextSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.TextSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.TextSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.CheckboxSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.CheckboxSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.CheckboxSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.TextareaSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.TextareaSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.TextareaSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.RadioSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.RadioSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.RadioSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.EObjectFlatComboViewerSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.EObjectFlatComboViewerSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.EObjectFlatComboViewerSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.ComboSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.ComboSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.ComboSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.ReferencesTableSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.ReferencesTableSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.ReferencesTableSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.EMFComboViewerSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.EMFComboViewerSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.EMFComboViewerSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.MultiValuedEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.MultiValuedEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.MultiValuedEditorSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.TableCompositionEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.TableCompositionEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.TableCompositionEditorSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.AdvancedReferencesTableSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.AdvancedReferencesTableSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.AdvancedReferencesTableSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.AdvancedEObjectFlatComboViewerSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.AdvancedEObjectFlatComboViewerSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.AdvancedEObjectFlatComboViewerSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.AdvancedTableCompositionEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.AdvancedTableCompositionEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.AdvancedTableCompositionEditorSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.FlatReferenceTableSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.FlatReferenceTableSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.FlatReferencesTableSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.SamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.SamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.Sample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.TextSampleFirstTabPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.TextSampleWithTwoTabsPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.TextSampleWithTwoTabs"
               tab="TextSampleFirstTab">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.TextSampleSecondTabPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.TextSampleWithTwoTabsPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.TextSampleWithTwoTabs"
               tab="TextSampleSecondTab">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.TableCompositionExtensionEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.TableCompositionExtensionEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.TableCompositionExtensionEditorSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.ImageViewerSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.ImageViewerSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.ImageViewerSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.SelectionDialogSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.SelectionDialogSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.SelectionDialogSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.parts.forms.SingleCompositionViewerSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnr.providers.SingleCompositionViewerSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnr.section.SingleCompositionViewerSample"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>
         <propertyTab
               id="AbstractSample"
               label="AbstractSample"
               category="extended"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               id="SecondFlatReferenceExtendedEditorSample"
               label="SecondFlatReferenceExtendedEditorSample"
               category="extended"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               id="CheckBoxExtendedEditorSample"
               label="CheckBoxExtendedEditorSample"
               category="extended"
               afterTab="SecondFlatReferenceExtendedEditorSample">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.eefnrext.parts.forms.TableCompositionTargetExtensionEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnrext.providers.TableCompositionTargetExtensionEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnrext.section.TableCompositionTargetExtensionEditorSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnrext.parts.forms.CheckBoxExtendedEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnrext.providers.CheckBoxExtendedEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnrext.section.CheckBoxExtendedEditorSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.references.parts.forms.AbstractSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnrext.providers.CheckBoxExtendedEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnrext.section.CheckBoxExtendedEditorSample"
               tab="AbstractSample">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnrext.parts.forms.FlatReferenceExtendedEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnrext.providers.FlatReferenceExtendedEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnrext.section.FlatReferenceExtendedEditorSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnrext.parts.forms.SecondFlatReferenceExtendedEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnrext.providers.FlatReferenceExtendedEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnrext.section.FlatReferenceExtendedEditorSample"
               tab="SecondFlatReferenceExtendedEditorSample">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnrext.parts.forms.CheckBoxExtendedEditorSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.eefnrext.providers.FlatReferenceExtendedEditorSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.eefnrext.section.FlatReferenceExtendedEditorSample"
               tab="CheckBoxExtendedEditorSample">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.eefnr.filters.parts.forms.ConcreteReferenceOwnerSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.filters.providers.ConcreteReferenceOwnerSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.filters.section.ConcreteReferenceOwnerSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.filters.parts.forms.ConcreteReferenceTargetSample1PropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.filters.providers.ConcreteReferenceTargetSample1PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.filters.section.ConcreteReferenceTargetSample1"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.filters.parts.forms.ConcreteReferenceTargetSample2PropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.filters.providers.ConcreteReferenceTargetSample2PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.filters.section.ConcreteReferenceTargetSample2"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.eefnr.interface_.parts.forms.SimpleSamplePropertiesEditionPartForm"
               id="org.eclipse.emf.eef.interface.section.SimpleSample"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.EventPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.naming.providers.EventPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.naming.section.Event"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="DeferedFlatReferencesTableSample"
               category="extended"
               id="DeferedFlatReferencesTableSample"
               afterTab="DeferedFlatReferencesTableSample">
         </propertyTab>
         <propertyTab
               label="DeferedReferencesTableSample"
               category="extended"
               id="DeferedReferencesTableSample"
               afterTab="DeferedReferencesTableSample">
         </propertyTab>
         <propertyTab
               label="Owner"
               category="extended"
               id="Owner"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Subtype"
               category="extended"
               id="Subtype"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="NamedElement"
               category="extended"
               id="NamedElement"
               afterTab="Base">
         </propertyTab>
          <propertyTab
               id="SmartNavigationSample"
               label="SmartNavigationSample"
               category="default">
         </propertyTab>
         <propertyTab
               id="FirstNavigationSample"
               label="FirstNavigationSample"
               category="default">
         </propertyTab>

         <propertyTab
               id="SecondNavigationSample"
               label="SecondNavigationSample"
               category="default">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.DeferedFlatReferencesTableSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.DeferedFlatReferencesTableSampleEditorPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.DeferedFlatReferenceTableEditorSample"
               tab="DeferedFlatReferencesTableSample">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.DeferedReferencesTableSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.DeferedReferencesTableSampleEditorPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.DeferedReferenceTableEditorSample"
               tab="DeferedReferencesTableSample">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.OwnerPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.OwnerPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.Owner"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.SubtypePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.SubtypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.Subtype"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.OwnerPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.SubtypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.Subtype"
               tab="Owner">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.AnotherSubtypePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.AnotherSubtypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.AnotherSubType"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.SubtypePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.AnotherSubtypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.AnotherSubType"
               tab="Subtype">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.ElementPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.ElementPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.Element"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.NamedElementPropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.ElementPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.Element"
               tab="NamedElement">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.AttributeNavigationSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.AttributeNavigationSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.AttributeNavigationSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.SmartNavigationSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.SmartModelNavigationSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.SmartModelNavigationSample"
               tab="SmartNavigationSample">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.FirstNavigationSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.FirstModelNavigationSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.FirstModelNavigation"
               tab="FirstNavigationSample">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.navigation.parts.forms.SecondNavigationSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.navigation.providers.SecondModelNavigationSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.navigation.section.SecondModelNavigation"
               tab="SecondNavigationSample">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.eefnr.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="AbstractSample"
               category="extended"
               id="AbstractSample"
               afterTab="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.eefnr.properties">
         <propertySection
               class="org.eclipse.emf.eef.eefnr.references.parts.forms.ReferenceEnabledSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.references.providers.ReferenceEnabledSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.references.section.ReferenceEnabledSample"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.eefnr.references.parts.forms.AbstractSamplePropertiesEditionPartForm"
               filter="org.eclipse.emf.eef.references.providers.ReferenceEnabledSamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.eef.references.section.ReferenceEnabledSample"
               tab="AbstractSample">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.emf.eef.tests.nonreg.edit.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.eef.tests.nonreg.edit.actions.SampleAction"
               icon="icons/sample.gif"
               id="org.eclipse.emf.eef.tests.nonreg.edit.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
</plugin>
