<?xml version="1.0" encoding="UTF-8"?>
<settings>

	<!-- Eclipse.org committers or build engineers should uncomment this section 
		and fill in as appropriate for releasing and deploying items to the Nexus 
		repository. Add as many server entries as you need. These should correspond 
		to your Distribution management ids as well. -->
	<servers>
		<server>
			<id>eclipse-milestone</id>
			<username>my_login</username>
			<password>my_password</password>
			<privateKey>${user.home}/.ssh/id_dsa</privateKey>
		</server>
	</servers>

	<mirrors>
		<mirror>
			<id>eclipse-central</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.eclipse.org/nexus/content/groups/central/</url>
		</mirror>
		<mirror>
			<id>eclipse-repositories</id>
			<mirrorOf>milestone,integration,nightly,*</mirrorOf>
			<url>http://maven.eclipse.org/nexus/content/groups/public/</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>milestone</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>milestone</id>
					<name>Milestone releases</name>
					<url>http://maven.eclipse.org/milestone</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>integration</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>integration</id>
					<name>Integration releases</name>
					<url>http://maven.eclipse.org/integration</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>nightly</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>nightly</id>
					<name>Nightly releases</name>
					<url>http://maven.eclipse.org/nightly</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>e4</id>
			<properties>
				<platform-version>[4.0,5.0)</platform-version>
			</properties>
			<repositories>
				<repository>
					<id>releasetrain</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/eclipse/updates/4.2-I-builds</url>
				</repository>
				<repository>
					<id>swtbot</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site</url>
				</repository>
				<repository>
					<id>emf</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/emf/emf/updates/2.8milestones</url>
				</repository>
				<repository>
					<id>emf-transaction</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/emf/updates/milestones</url>
				</repository>
				<repository>
					<id>ocl</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/mdt/ocl/updates/milestones/4.0.0</url>
				</repository>
				<repository>
					<id>acceleo</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/m2t/acceleo/updates/milestones/3.2</url>
				</repository>
				<repository>
					<id>orbit</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository</url>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>localBuild</id>
			<properties>
				<platform-version>[3.0,4.0)</platform-version>
			</properties>
			<repositories>
				<repository>
					<id>releasetrain</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/eclipse/updates/3.8milestones</url>
				</repository>
				<repository>
					<id>swtbot</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site</url>
				</repository>
				<repository>
					<id>emf</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/emf/emf/updates/2.8milestones</url>
				</repository>
				<repository>
					<id>emf-transaction</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/emf/updates/milestones</url>
				</repository>
				<repository>
					<id>ocl</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/mdt/ocl/updates/milestones/4.0.0</url>
				</repository>
				<repository>
					<id>acceleo</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/m2t/acceleo/updates/milestones/3.2</url>
				</repository>
				<repository>
					<id>orbit</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository</url>
				</repository>
				<repository>
					<id>epf</id>
					<layout>p2</layout>
					<url>http://build.eclipse.org/modeling/emf/eef/epf/</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>milestone</activeProfile>
		<activeProfile>nightly</activeProfile>
	</activeProfiles>

</settings>
