<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2009/07/10 13:14:59 sbouchet Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.nonreg.presentation.NonregModelWizardID"
            name="%_UI_NonregModelWizard_label"
            class="org.eclipse.emf.eef.nonreg.presentation.NonregModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NonregModelFile.gif">
         <description>%_UI_NonregModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.nonreg.presentation.NonregEditorID"
            name="%_UI_NonregEditor_label"
            icon="icons/full/obj16/NonregModelFile.gif"
            extensions="nonreg"
            class="org.eclipse.emf.eef.nonreg.presentation.NonregEditor"
            contributorClass="org.eclipse.emf.eef.nonreg.presentation.NonregActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.presentation.SubPackageNonRegForFiltersModelWizardID"
            name="%_UI_SubPackageNonRegForFiltersModelWizard_label"
            class="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.presentation.SubPackageNonRegForFiltersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SubPackageNonRegForFiltersModelFile.gif">
         <description>%_UI_SubPackageNonRegForFiltersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.presentation.SubPackageNonRegForFiltersEditorID"
            name="%_UI_SubPackageNonRegForFiltersEditor_label"
            icon="icons/full/obj16/SubPackageNonRegForFiltersModelFile.gif"
            extensions="subpackagenonregforfilters"
            class="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.presentation.SubPackageNonRegForFiltersEditor"
            contributorClass="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.presentation.SubPackageNonRegForFiltersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.eef.nonreg.modelNavigation.presentation.ModelNavigationModelWizardID"
            name="%_UI_ModelNavigationModelWizard_label"
            class="org.eclipse.emf.eef.nonreg.modelNavigation.presentation.ModelNavigationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelNavigationModelFile.gif">
         <description>%_UI_ModelNavigationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.nonreg.modelNavigation.presentation.ModelNavigationEditorID"
            name="%_UI_ModelNavigationEditor_label"
            icon="icons/full/obj16/ModelNavigationModelFile.gif"
            extensions="modelnavigation"
            class="org.eclipse.emf.eef.nonreg.modelNavigation.presentation.ModelNavigationEditor"
            contributorClass="org.eclipse.emf.eef.nonreg.modelNavigation.presentation.ModelNavigationActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.nonreg.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.nonreg.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="Presence"
               category="extended"
               id="Presence">
         </propertyTab>
         <propertyTab
               label="testFilter"
               category="extended"
               id="testFilter">
         </propertyTab>
         <propertyTab
               label="testFilter"
               category="extended"
               id="testFilter">
         </propertyTab>
         <propertyTab
               label="testFilter"
               category="extended"
               id="testFilter">
         </propertyTab>
         <propertyTab
               label="testVRFilter"
               category="extended"
               id="testVRFilter">
         </propertyTab>
         <propertyTab
               label="Source"
               category="extended"
               id="Source">
         </propertyTab>
         <propertyTab
               label="SuperCible"
               category="extended"
               id="SuperCible">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.nonreg.properties">
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.EclipseSummit">
             <input
                    type="org.eclipse.emf.eef.nonreg.EclipseSummit">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Presence"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Talk">
             <input
                    type="org.eclipse.emf.eef.nonreg.Talk">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Talk">
             <input
                    type="org.eclipse.emf.eef.nonreg.Talk">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Topic">
             <input
                    type="org.eclipse.emf.eef.nonreg.Topic">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Topic">
             <input
                    type="org.eclipse.emf.eef.nonreg.Topic">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Site">
             <input
                    type="org.eclipse.emf.eef.nonreg.Site">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Site">
             <input
                    type="org.eclipse.emf.eef.nonreg.Site">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Access">
             <input
                    type="org.eclipse.emf.eef.nonreg.Access">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Company">
             <input
                    type="org.eclipse.emf.eef.nonreg.Company">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Company">
             <input
                    type="org.eclipse.emf.eef.nonreg.Company">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Adress">
             <input
                    type="org.eclipse.emf.eef.nonreg.Adress">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="testFilter"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.subPackageNonRegForFilters.section.ForFilters">
             <input
                    type="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.ForFilters">
             </input>
         </propertySection>
         <propertySection
               tab="testFilter"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.subPackageNonRegForFilters.section.ForFilters">
             <input
                    type="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.ForFilters">
             </input>
         </propertySection>
         <propertySection
               tab="testFilter"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.subPackageNonRegForFilters.section.ForFilters">
             <input
                    type="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.ForFilters">
             </input>
         </propertySection>
         <propertySection
               tab="testVRFilter"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.subPackageNonRegForFilters.section.ForFilters">
             <input
                    type="org.eclipse.emf.eef.nonreg.subPackageNonRegForFilters.ForFilters">
             </input>
         </propertySection>
         <propertySection
               tab="Source"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.modelNavigation.section.Source">
             <input
                    type="org.eclipse.emf.eef.nonreg.modelNavigation.Source">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.modelNavigation.section.ConcreteCible">
             <input
                    type="org.eclipse.emf.eef.nonreg.modelNavigation.ConcreteCible">
             </input>
         </propertySection>
         <propertySection
               tab="SuperCible"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.modelNavigation.section.ConcreteCible">
             <input
                    type="org.eclipse.emf.eef.nonreg.modelNavigation.ConcreteCible">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Adress">
             <input
                    type="org.eclipse.emf.eef.nonreg.Adress">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Talk">
             <input
                    type="org.eclipse.emf.eef.nonreg.Talk">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Talk">
             <input
                    type="org.eclipse.emf.eef.nonreg.Talk">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.EclipseSummit">
             <input
                    type="org.eclipse.emf.eef.nonreg.EclipseSummit">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.EclipseSummit">
             <input
                    type="org.eclipse.emf.eef.nonreg.EclipseSummit">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
         <propertySection
               tab="Base"
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.emf.eef.nonreg.section.Person">
             <input
                    type="org.eclipse.emf.eef.nonreg.Person">
             </input>
         </propertySection>
      </propertySections>
   </extension>
 </plugin>