<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2010/04/15 12:48:58 glefur Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/eef/nonreg/1.0.0"
            class="org.eclipse.emf.eef.eefnr.EefnrPackage"
            genModel="model/eefnr.genmodel"/>
      <package
            class="org.eclipse.emf.eef.eefnrext.EefnrextPackage"
            genModel="model/eefnr.genmodel"
            uri="http://www.eclipse.org/emf/eef/nonreg/extension/1.0.0">
      </package>
      <package
            class="org.eclipse.emf.eef.eefnr.references.ReferencesPackage"
            genModel="model/eefnr.genmodel"
            uri="http://www.eclipse.org/emf/eef/nonreg/references/1.0.0">
      </package>
   </extension>

</plugin>
