<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2009/05/05 10:36:44 sbouchet Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/properties/1.0.0/NonReg"
            class="org.eclipse.emf.eef.nonreg.NonregPackage"
            genModel="model/nonreg.genmodel"/>
   </extension>

</plugin>
