<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="PropertiesInitializerStrategy" name="org.eclipse.emf.eef.codegen.PropertiesInitializerStrategy" schema="schema/PropertiesInitializerStrategy.exsd"/>
   <extension-point id="PropertiesGeneratorLauncher" name="org.eclipse.emf.eef.codegen.PropertiesGeneratorLauncher" schema="schema/PropertiesGeneratorLauncher.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.eef.ui.contribution.initializer"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.eef.ui.menu"
               label="EEF"
               path="additions">
            <groupMarker
                  name="initializer">
            </groupMarker>
            <groupMarker
                  name="editor-initializer">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.emf.eef.codegen.ui.initializer.actions.InitializeEEFModelsAction"
               enablesFor="1"
               id="org.eclipse.emf.eef.codegen.initialize"
               label="Initialize EEF models"
               menubarPath="org.eclipse.emf.eef.ui.menu/initializer">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.eef.ui.contribution.generation"
            nameFilter="*.eefgen"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.eef.ui.menu"
               label="EEF"
               path="additions">
            <separator
                  name="generation">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.eef.codegen.ui.generators.actions.GenerateEEFAction"
               enablesFor="*"
               id="org.eclipse.emf.eef.codegen.action2"
               label="Generate EEF architecture"
               menubarPath="org.eclipse.emf.eef.ui.menu/generation">
         </action>
      </objectContribution>
      <!--objectContribution
            adaptable="false"
            id="org.eclipse.emf.eef.ui.contribution.validation"
            nameFilter="*.eefgen"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.eef.ui.menu"
               label="EEF"
               path="additions">
            <separator
                  name="validation">
            </separator>
         </menu>
	      <action
               class="org.eclipse.emf.eef.codegen.ui.validators.actions.PurifyEEFModelsAction"
               enablesFor="1"
               id="org.eclipse.emf.eef.codegen.PurifyAction"
               label="Purify EEF models"
               menubarPath="org.eclipse.emf.eef.ui.menu/validation">
         </action>
      </objectContribution-->
   </extension>
   <extension
         point="org.eclipse.emf.eef.codegen.PropertiesInitializerStrategy">
      <PropertiesInitializerStrategy
            description="Perform a simple 1 for 1 EEF model initializing. This initializer isn't incremental !"
            name="Basic Properties initializer"
            strategyClass="org.eclipse.emf.eef.codegen.core.initializer.PropertiesInitializer">
      </PropertiesInitializerStrategy>
   </extension>
<!-- removed in EEF 0.9 use generic eef propertysection
   <extension
         point="org.eclipse.emf.eef.codegen.PropertiesGeneratorLauncher">
      <PropertiesGeneratorLauncher
            generatorLauncher="org.eclipse.emf.eef.codegen.core.launcher.gmf.GMF1DescriptorsGeneratorLauncher"
            name="GMF1 PropertiesSection">
      </PropertiesGeneratorLauncher>
   </extension>
-->
   <extension
         point="org.eclipse.acceleo.engine.dynamic.templates">
      <templates
            path="src/org/eclipse/emf/eef/codegen/widgets/impl/">
      </templates>
   </extension>
   
   <!-- Test -->
</plugin>
