<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2011/04/07 14:39:02 glefur Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/mbot/1.0.0"
            class="org.eclipse.emf.eef.modelingBot.provider.ModelingBotItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/test/EEFActions/1.0.0"
            class="org.eclipse.emf.eef.modelingBot.EEFActions.provider.EEFActionsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/eef/test/EclipseActions/1.0.0"
            class="org.eclipse.emf.eef.modelingBot.EclipseActions.provider.EclipseActionsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.eef.modelingbot.edit.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.eef.modelingbot.edit.menu1"
               label="EEF"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.eef.modelingBot.edit.actions.OpenWithEEFAction"
               enablesFor="1"
               id="org.eclipse.emf.eef.modelingbot.edit.newAction"
               label="Open With Interactive EEF Editor"
               menubarPath="org.eclipse.emf.eef.modelingbot.edit.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
