<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated contentassist -->
      <package
            uri="http://www.eclipse.org/sirius/contentassist"
            class="org.eclipse.sirius.contentassist.ContentassistPackage"
            genModel="model/contentassist.genmodel"/>
   </extension>

</plugin>
