<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.eef.ui.contribution.editorinit"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.eef.ui.menu"
               label="EEF"
               path="additions">
            <separator
                  name="initializer">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.eef.codegen.extended.ui.initializer.InitializeEEFEditorAction"
               enablesFor="1"
               id="org.eclipse.emf.eef.codegen.initialize"
               label="Initialize EEF Editor"
               menubarPath="org.eclipse.emf.eef.ui.menu/initializer">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.eef.codegen.extended.ui.launcher"
            nameFilter="*.eefgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.eef.codegen.extended.ui.launcher.GenerateEEFEditorAction"
               enablesFor="*"
               id="org.eclipse.emf.eef.codegen.extended.ui.generateeefeditor"
               label="Generate EEF Editor"
               menubarPath="org.eclipse.emf.eef.ui.menu/generation">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.eef.ui.contribution.initializer"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.eef.codegen.extended.ui.initializer.InitializeEEFEditorModelsAction"
               enablesFor="1"
               id="org.eclipse.emf.eef.codegen.initialize"
               label="Initialize EEF Editor models"
               menubarPath="org.eclipse.emf.eef.ui.menu/editor-initializer">
         </action>
      </objectContribution>

   </extension>
  <extension
        point="org.eclipse.ui.editorActions">
     <editorContribution
           id="org.eclipse.emf.eef.codegen.ecore.diagram.contribution"
           targetID="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditorID">
        <action
              class="org.eclipse.emf.eef.codegen.extended.ui.initializer.InitializeEEFEditorAction"
              icon="icons/full/obj16/initialize_eef_editor.gif"
              id="org.eclipse.emf.eef.codegen.extended.ui.generateeefeditor.contribution"
              label="Initialize EEF Editor"
              toolbarPath="Normal/additions">
        </action>
     </editorContribution>
  </extension>

</plugin>
