<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.eef.reflect.editor"
            name="EEF Reflective Editor"
            icon="icons/full/obj16/EEFReflectiveEditor.gif"
            extensions="*"
            class="org.eclipse.emf.eef.runtime.tests.ui.editors.EEFReflectiveEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.eef.reflect.editor">
         <propertyCategory
               category="std">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.eef.reflect.editor">
         <propertyTab
               label="Properties"
               category="std"
               id="Properties">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.eef.reflect.editor">
         <propertySection
               class="org.eclipse.emf.eef.runtime.tests.ui.properties.section.EEFReflectiveEditionSection"
               id="org.eclipse.emf.eef.runtime.tests.eef.reflective.section"
               tab="Properties">
             <input
                    type="org.eclipse.emf.ecore.EObject">
             </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.emf.eef.runtime.tests.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="eef"
               label="EEF">
            <separator
                  name="eefGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.eef.runtime.tests.ui.actions.OpenWithEEFReflectiveEditor"
               icon="icons/sample.gif"
               id="org.eclipse.emf.eef.runtime.tests.ui.actions.OpenWithEEFReflectiveEditor"
               label="EEF Reflective Editor"
               toolbarPath="eefGroup"
               tooltip="Open With EEF Reflective Editor">
         </action>
      </actionSet>
   </extension>


</plugin>
