<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.docs.intent.collab.common.intentresourceinitializer">
      <IntentResourceInitializer
            class="org.eclipse.mylyn.docs.intent.bridge.modelingbot.ModelingBotResourceInitializer"
            file_extension="modelingbot">
      </IntentResourceInitializer>
   </extension>
   <extension
         point="org.eclipse.mylyn.docs.intent.client.ui.quickfixprovider">
      <IntentQuickFixProvider
            class="org.eclipse.mylyn.docs.intent.bridge.modelingbot.ui.ModelingBotQuickFixProvider">
      </IntentQuickFixProvider>
   </extension>
   <extension
         point="org.eclipse.mylyn.docs.intent.client.ui.editorrendererextension">
      <EditorRendererExtension
            class="org.eclipse.mylyn.docs.intent.bridge.modelingbot.ui.ModelingBotEditorRenderedExtension"
            priority="2">
      </EditorRendererExtension>
   </extension>

</plugin>
