<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2010/12/22 22:12:38 glefur Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.eef.runtime.ui.editor.InteractiveEEFEditor"
            contributorClass="org.eclipse.emf.eef.runtime.ui.editor.InteractiveEEFEditorActionBarContributor"
            icon="icons/full/obj16/InteractiveEditor.gif"
            id="org.eclipse.emf.eef.appmaster.editor.InteractiveEEFEditorID"
            name="%UI_InteractiveEEFEditor_name">
      </editor>
   </extension>

   
</plugin>
